#background
{
	background-image: url('../images/test.jpg');
	background-attachment: fixed;
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	margin: 0 !important;
}
#layer
{
	background-color: rgba(0,0,0,0.5);

}
#meca
{
	width: 150px;
}
#layer1
{
	background-color: rgba(0,0,0,0.5);
	border-radius: 20px;
	padding-top: 50px;
	width: 100%;
}


p{

color: black;
font-weight: bold;
font-size: 35px; 
font-family: plantio-roman;
}